html
  font-size 18px
  color #4F4F4F

.switcher
  cursor pointer
  position relative
  margin 3rem

  &__input
    display none

  &__new-input
    position absolute
    top 0
    left -2rem
    width 1.3rem
    height 1.3rem
    border-radius 50%
    background red
    border 0.1rem solid black

  &__input:checked + .switcher__new-input
    background green