doctype html
html
    head
        meta(charset = "utf-8")/
        meta(name = "description", content = "Верстка FlatUI")/
        meta(name = "keywords", content = "верстка")/
        meta(name = "author", content = "Sergey Karbyshev")/
        title EmptyTest
    body
        label.switcher
            input.switcher__input(type="checkbox")
            span.switcher__new-input
            | Чекбокс